.salesSection{
    max-height: 366px;
    max-width: 362px;
}
.title{
    color: #181818;
}
.threeDot{
    color:#9DACBE;
    cursor: pointer;
}
.salesAmount{
    color:#181818;
    font-weight: 500;
}
.monthInput{
    border:2px solid #E3E8EF;
    color:#181818;
    font-weight: 400;
    font-size: 14px;
}

.btnDetails{
    margin: 10px 10px 0px ;
    font-size: 14px;
    color: #2D5BFF;
    font-weight: 500;
    cursor: pointer;
    text-align: end;
}